.chartEntry {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  color: black;
  padding: 16px;
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.chartEntry:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.selectedChart {
  background-color: rgba(255, 255, 255, 1) !important;
}

.chartInner {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.chartEntry h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
}

.chartEntry p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
}
