.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: hidden;
    background-color: rgba(0,0,0,0);
    animation: background 2s forwards;
    animation-delay: 2.2s;
    width: fit-content;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    background-size: 600%, 600%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}

.text {
    color: white;
    font-size: 48px;
    margin: 0;
    padding: 0;
    animation: slideDown 3s cubic-bezier(0,.47,.23,1) forwards;
    animation-delay: 2s;
}

.slider {
    width: 100px;
    height: 8px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    animation: fadeOut 1s forwards;
    animation-delay: 2.3s;
}

@keyframes background {
    0% {
        background: linear-gradient(0deg, rgba(253, 130, 255) 0%, rgba(152, 78, 153, 0) 100%);
        background-repeat: no-repeat;
    }
    100% {
        background: linear-gradient(0deg, rgba(253, 130, 255) 0%, rgba(152, 78, 153, 0) 100%);
        background-repeat: no-repeat;
        background-position-y: 90px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(80px);
    }
}