.ui {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 32px;
}

.buttonStrip {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 8px;
}

.buttonStrip > button {
  font-size: 24px;
  padding: 16px;
  animation: slideUp 0.5s cubic-bezier(0, 0.47, 0.23, 1);
}

@keyframes slideUp {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
