html {
  background-color: #1a002b;
  color: white;
  cursor: url("/images/cursor/cursor_normal.png"), auto;
}

body {
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  user-select: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: url("/images/cursor/cursor_target.png"), auto;
  font-size: 24px;
  color: white;
  padding: 16px;
  box-sizing: border-box;
}

button:hover {
  color: black;
  background-color: #fd82ff;
  transition: background-color 0.2s, transform 0.2s;
}

button:active {
  background-color: #feb1ff;
  transform: scale(1.05);
}
